NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://portail:MOT_DE_PASSE@postgres:5432/portail?schema=public

JWT_SECRET=change-moi-32-caracteres-minimum-svp
JWT_EXPIRES_IN=12h
DEPOSIT_JWT_SECRET=change-moi-32-caracteres-minimum-svp
DEPOSIT_JWT_EXPIRES_IN=30m

S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=CHANGE_MOI
S3_SECRET_KEY=CHANGE_MOI
S3_BUCKET=portail-depot
S3_FORCE_PATH_STYLE=true

MAX_FILE_SIZE=20971520
PIN_MAX_ATTEMPTS=5
PIN_LOCKOUT_MINUTES=15
LOG_LEVEL=debug
